.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box {
  text-align: center;
  width: 40%;
}

.tabela {
  text-align: center;
  width: 100%;
}

.margem-esquerda {
  margin-left: 3%;
}

.align-esquerda {
  text-align: left;
}

mat-card {
  margin-top: 3%;
}
